In [1]:
import pandas as pd

In [2]:
file = "Resources/budget_data.csv"
budget_df = pd.read_csv(file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
#Total number of Months in the Data Set
total_num_months = budget_df["Date"].count()
total_num_months

86

In [4]:
#Net Profit/Loss over the entire period
net_profit_loss = budget_df["Profit/Losses"].sum()
"${:,.2f}".format(net_profit_loss)

'$38,382,578.00'

In [5]:
#Calculate the change in Profit/Loss
budget_df["Delta"] = budget_df["Profit/Losses"].diff()
budget_df.head()

       Date  Profit/Losses     Delta
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [6]:
#The average of the changes in "Profit/Losses" over the entire period
average_change = budget_df["Delta"].mean()
average_change = "${:,.2f}".format(average_change)
average_change

'$-2,315.12'

In [7]:
#Greatest increase in profits (date and amount) over the entire period
mask = budget_df.Delta == budget_df.Delta.max()
greatest_increase = budget_df.loc[mask].reset_index(drop=True)
greatest_increase["Delta"] = greatest_increase["Delta"].map("${:,.2f}".format)
greatest_increase.at[0,'Delta']

'$1,926,159.00'

In [8]:
greatest_increase.at[0,'Date']

'Feb-2012'

In [9]:
#Greatest decrease in losses (date and amount) over the entire period
mask = budget_df.Delta == budget_df.Delta.min()
greatest_decrease = budget_df.loc[mask].reset_index(drop=True)
greatest_decrease["Delta"] = greatest_decrease["Delta"].map("${:,.2f}".format)
greatest_decrease.at[0,'Delta']

'$-2,196,167.00'

In [10]:
greatest_decrease.at[0,'Date']

'Sep-2013'

In [11]:
print("Financial Analysis")
print("=================================")
print(f"Total Months: {total_num_months}")
print(f"Average Change: {average_change}")
print(f"Greatest Increase in Profits: {greatest_increase.at[0,'Date']} {greatest_increase.at[0,'Delta']}")
print(f"Greatest Decrease in Profits: {greatest_decrease.at[0,'Date']} {greatest_decrease.at[0,'Delta']}")

Financial Analysis
=================================
Total Months: 86
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-2012 $1,926,159.00
Greatest Decrease in Profits: Sep-2013 $-2,196,167.00